<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MEAN App</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf='AuthService.IsLoggedIn()' [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/profile']"><span class="glyphicon glyphicon-dashboard"></span> My Profile</a></li>
      <li *ngIf='!AuthService.IsLoggedIn()' [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li *ngIf='!AuthService.IsLoggedIn()' [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li *ngIf='AuthService.IsLoggedIn()'><a (click)="Logout()" href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
  </div>
</nav>
