<!--
  The navigation UI that is docked to the top of the window. Most of this markup simply
  follows Bootstrap conventions. The only Knockout-specific parts are the data-bind
  attributes on the <li> elements.
-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">koauthapp-web</a>
    </div>
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li data-bind="css: { active: Route().page === 'home-page' }">
          <a href="#">Home</a>
        </li>
      </ul>

      <!-- ko ifnot: IsLoggedIn -->
      <ul class="nav navbar-nav navbar-right">
          <li data-bind="css: { active: Route().page === 'register' }">
              <a data-bind="attr: { href: '#register' }"><span class="fa fa-user"></span>&nbsp;&nbsp;Sign Up</a>
          </li>
          <li data-bind="css: { active: Route().page === 'login' }">
              <a data-bind="attr: { href: '#login' }"><span class="fa fa-sign-in"></span>&nbsp;&nbsp;Log In</a>
          </li>
      </ul>
      <!-- /ko -->
      <!-- ko if: IsLoggedIn -->
      <ul class="nav navbar-nav navbar-right" data-bind="with: LoggedInUser">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><span data-bind="text: Username"></span><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="javascript:void(0)"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;My Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Log Out</a></li>
                  </ul>
              </li>
      </ul>
      <!-- /ko -->
    </div>
  </div>
</div>
